body {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: bold;
    background-color: rgb(218,248,246);
}

.info-block {
    font-size: 1.5rem;
    color: #204D6A;
    margin-bottom: 1rem;
}

.info-block_padding {
    display: flex;
    justify-content: space-between;
}

.info {
    padding: 1rem 3rem 0;
}

.info-block__line {
    margin-top: 0.3rem;
    height: 2px;
    background-color: #204D6A;
}

.gamecanva {
    margin: auto;
    text-align: center;
}

.len {
    color: rgb(255,0,100);
    margin-top: 0.5rem;
    padding: 0 3rem;
}