body {
	font-family: 'Montserrat', sans-serif;
	font-style: 18px;
	font-weight: bold;
	color: #204D6A;
}

.main-menu {
	min-height: 100vh;
}

.main-menu__inner {
	background: #02E5CA;
	padding: 75px 95px;
}

.main-menu__game-name {
	font-size: 45px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 13px 18px;
	margin-bottom: 25px;
}

.main-menu__nickname {
	margin-bottom: 35px;
}

.main-menu__nickname label{
	margin-bottom: 10px;
	font-size: 24px;
}
.main-menu__nickname input{
	padding: 10px;
	border: none;
	outline: none;
}

.btn-start {
	width: 100%;
	padding: 10px;
	background: #019BA3;
	color: #fff;
	border: none;
}